<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, width: 400, crop: :fill %>');">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>


<div class="container mx-7 pt-5">

  <div class="row my-4">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card card-movie m-3" style="width: 18rem;">
        <%= image_tag bookmark.movie.poster_url, class: 'card-img-movie' %>
        <div class="card-body">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <hr>
          <p class="card-text"><%= bookmark.movie.overview %></p>
          <%= link_to bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  do%>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <br>
  <div class="show-list-links">
    <%= link_to root_path, :class => "btn btn-ghost"  do%>
      <p><i class="fa-solid fa-arrow-rotate-left"></i> Back to my list</p>
    <% end %>
    <%= link_to new_list_bookmark_path(@list), :class => "btn btn-ghost" do %>
      <p><i class="fa-solid fa-circle-plus"></i> Add a movie to my list</p>
    <% end %>
  </div>

</div>
